@font-face {
  font-family: 'Poppkorn';
  src: url('fonts/Poppkorn.ttf')  format('truetype');
}

body {
  padding: 0; margin: 0;
  /* background: #1a1e24; */
  --bg-opacity: 1;
  background-color: #2e3440;
  background-color: rgba(46,52,64,var(--bg-opacity));  
  width: 100%;
  min-height: 100vh;
  display: -webkit-box; display: -ms-flexbox; display: flex;
  -webkit-box-align: center; -ms-flex-align: center; align-items: center;
  -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  color: rgb(216, 222, 233);
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
  color: rgb(216, 222, 233)
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppkorn";
}

h2 {
  color: #a3be8c;
}

h4 {
  color: #d08770;
}

ul {
  list-style: none;
  margin-left:0;
  padding: 0;
}