@charset "utf-8";

@font-face {
  font-family: 'Poppkorn';
  src: url('/fonts/Poppkorn.ttf')  format('truetype');
}

body {
  padding: 0; margin: 0;
  /* background: #1a1e24; */
  --bg-opacity: 1;
  background-color: #2e3440;
  background-color: rgba(46,52,64,var(--bg-opacity));  
  width: 100%;
  min-height: 100vh;
  display: -webkit-box; display: -ms-flexbox; display: flex;
  -webkit-box-align: center; -ms-flex-align: center; align-items: center;
  -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  color: rgb(216, 222, 233);
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
  color: rgb(216, 222, 233)
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.7em
}

#logo {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 100px;
  font-family: "Poppkorn";
  margin-top: -50px; /* Font has some white space */
}

.me {
  background: url("/img/me.png") right center no-repeat;
  min-height: 320px;
  padding-right: 120px;
}


h2 {
  color: #a3be8c;
  text-transform: uppercase;
  font-size: 1.4em;
}

h4 {
  color: #d08770;
  margin-bottom: .7rem;
}

.cat {
  color: #a3be8c;
  font-size: inherit;
  padding: 5px 0px;
  display: -webkit-inline-box;
  /* display: block; */
}

ul {
  list-style: none;
  margin-left:0;
  padding: 0;
}

ul li,
ul li {
  border-left: 1px solid rgb(216, 222, 233);
  position: relative;
}

.xp > ul > li:before ,
.skills > ul > li:before {
  display: inline-block;
  content: "";
  border-top: 1px solid rgb(216, 222, 233);
  width: 1rem;
  margin: 0 0.5rem 0 0;
  transform: translateY(-0.3rem);
}


ul ul {
  margin-left:24px;
  list-style-type: square;
  /* padding-top: 5px; */
  /* display: inline-block; */
}

ul ul li {
  display: inline-block;
  border-left: 0px;
}

/* .xp > ul ul li:before,
.skills > ul ul li:not(:first-child):before {
  content: '■';
  display: inline-block;
  color: #d08770;
  font-size: 8px;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 9px;
  margin-left: 0px;
} */

.badge {
  margin-top: 5px;
  margin-bottom: 5px;
}

.badge-primary {
  border: 2px solid #d08770;
  background-color: #2e3440; 
  color: #d08770;
  /* background-color: #d08770;
  color: #2e3440; */
  text-transform: uppercase;
}

/* .xp > ul li,
.skills > ul li {
  border-left: 1px solid rgb(216, 222, 233);
}

.xp > ul > li:before ,
.skills > ul > li:before {
  display: inline-block;
  content: "";
  border-top: 1px solid rgb(216, 222, 233);
  width: 1rem;
  margin: 0 0.5rem 0 0;
  transform: translateY(-0.3rem);
}


ul ul {
  margin-left:30px;
}

.xp > ul ul li:before,
.skills > ul ul li:before {
content: '';
position: absolute;
border-right:2px solid black;
border-bottom:2px solid black;
width:10px;
height:10px;
top: calc(50% - 4px);
left: -20px;
transform: translateY(-50%) rotate(-45deg);
} */

[class^="iconsocial-"],
[class*=" iconsocial-"] {
  float:left;
  margin:0;
  margin-right:5px;
  display: inline-block;
  line-height: 22px;
  width: 25px;
  height: 22px;
  background-position: 0; 
  padding:0;
  opacity:0.7;
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
}

[class^="iconsocial-"]:hover,
[class*=" iconsocial-"]:hover {
  opacity:0.7;
}

.iconsocial-email {
  background-image: url("../img/glyphicons_social_39_e-mail.png");
}

.iconsocial-linkedin {
  background-image: url("../img/glyphicons_social_17_linked_in.png");
}

.iconsocial-github {
  background-image: url("../img/glyphicons_social_21_github.png");
}

.iconsocial-resume {
  background-image: url("../img/glyphicons_364_cloud_download.png");
}

.sep {
  border-right: 2px solid black
}